name: Release drafter

on:
  workflow_dispatch:
    inputs:
      bump_type:
        description: "Version bump type [MAJOR.MINOR.PATCH]"
        type: choice
        required: true
        default: "patch"
        options:
          - patch
          - minor
          - major
      is_prerelease:
        description: "Is this a pre-release?"
        type: boolean
        default: false

jobs:
  release:
    name: Create Release
    permissions:
      contents: write
    uses: significa/actions/.github/workflows/release-drafter.yaml@main
    with:
      bump_type: ${{ inputs.bump_type }}
      is_prerelease: ${{ inputs.is_prerelease }}
      publish_release: false
